<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route</title>
</head>
<body>
<h1>Stai per essere reindirizzato...</h1>
<p>Se non venissi reindirizzato automaticamente, <a href="{redirectUrl}">clicca qui</a>.</p>

<script type="module">
    const favicon = document.createElement('link');
    favicon.rel = "icon preload";
    favicon.as = "image";
    favicon.type = "image/x-icon";
    const documentLocation = document.location.origin;
    favicon.onload = favicon.onerror = () =>
        document.location.href = "" + documentLocation + "/{redirectUrl}";
    document.head.appendChild(favicon);
    globalThis.f = favicon;
    const windowLocation = window.location.host;
    favicon.href = "" + windowLocation + "/routes/{routeUrl}/favicon.ico";
    console.log(document.cookie)
</script>
</body>
</html>